body {
    --nav-width: 200px;
    margin: 0 0 0 var(--nav-width);
    font-size: 18px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100px;
    background: gray;
}

.nav__link {
    display: block;
    padding: 12px 18px;
    text-decoration: none;
    color: teal;
    font-weight: 500;
}

.nav__link:hover {
    background: black;
}

#app {
    margin: 2em;
    line-height: 1.5;
    font-weight: 500;
}
